<!DOCTYPE html>
<html>
  <head>
    <title> {{ title }}</title>
    <link rel= "stylesheet" type= "text/css" href= "static/bootstrap.css">
	<link rel= "stylesheet" type= "text/css" href= "static/styles.css">
  <script type="text/javascript">
  function checkWordCount(){
    s = document.getElementById("inputBio").value;
    s = s.replace(/(^\s*)|(\s*$)/gi,"");
    s = s.replace(/[ ]{2,}/gi," ");
    s = s.replace(/\n /,"\n");
    if (s.split(' ').length < 100) {
      alert("Not enough words in bio! Minimum:100, Entered:" + s.split(' ').length);
    return false;
  }
   }
  </script>
  </head>
  {% block body %}
  <body>

    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}

  </body>
  {% endblock %}
</html>
