{% extends "base.html" %}

{% block body %}

<body style = "background-color: gainsboro">

      <div class = "header3">
        <div id = "title">
		  	COMPUTER LOVE
        </div>
        <div id= "subtitle">
  		  	You had me at hello world...
		</div>
</div>
    {% if matches|length == 0 %}
	<br>
    <h2 class="centered"> There are no matches to display, yet. Keep swiping!  </h2>
    {% endif %}
	<br>
		<div class="container">
			<div class="row">
					<div class="col-md-6 mx-auto">
						<div class = "centered">
						
					<table id="matches" border="1" width="100%">
						<TR>
							<th>Image</th>
							<th>Name</th>
							<th>Phone Number</th>
						</TR>
						
						{% for i in indexes %}
							<TR>
								<TD><img src={{images[i]}} height="100px" width="100px"></TD>
								<TD>{{matches[i]}}</TD>
								<TD>{{numbers[i]}}</TD>
							</TR>
						{% endfor %}
					</table>
			<!--
		{% for match in matches %}
			<div class="row">
				<div class="col-md-4 mx-auto">
					{{match}}
				</div>
			</div>
		{% endfor %}
				-->
				</div>
			</div>
		</div>
		</div>


		<div class="row">
				<div class="col-md-6 mx-auto">
					<div class = "centered">
      	 				<form action="/">
        					<br><input type="submit" value="Go Back!" class = "register right button">
     	 				</form>
					</div>
		
				</div>
			</div>
  	</div>
</body>
{% endblock %}
