{% extends "base.html" %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block body %}
    <div class="container">
	 <form>
	   <div class="form-group">
	     <label for="registerUser">Username</label>
	     <input type="User" class="form-control" id="registerUser" placeholder="Username">
	   </div>
	   <div class="form-group">
	     <label for="registerPass">Password</label>
	     <input type="Pass" class="form-control" id="registerUser" placeholder="Password">
	   </div>
	   <div class="form-group">
	     <label for="gender">Gender</label>
	     <select class="form-control" id="gender">
	       <option>Male</option>
	       <option>Female</option>
	       <option>Other</option>
	     </select>
	   </div>
	   <div class="form-group">
	     <label for="sexualOrientation">Sexual Orientation</label>
	     <select class="form-control" id="sexualOrientation">
	       <option>Heterosexual</option>
	       <option>Homosexual</option>
	       <option>Bisexual</option>
	     </select>
	   </div>
	   <div class="form-group">
	     <label for="inputBio">Write a personal biography.</label>
	     <textarea class="form-control" id="inputBio" rows="3"></textarea>
	   </div>
	   <div class="form-group">
	      <label for="inputPhoto">Upload a photo</label>
	      <input type="file" class="form-control-file" id="inputPhoto">
	   </div>
	 </form>
    </div>
{% endblock %}
