{% extends "base.html" %}


{% block body %}



  <body class = "root">
     <div class = "floatbody">

      <div class = "flash">
          {% set messages = get_flashed_messages() %}
          {% for message in messages %}
          {{message}}
          {% endfor %}
        </div>
		<br>

		<div class ="container">
			<div class="row">
				<div class="col-md-6 mx-auto">

					<div class = "textb">
      	 			   <form action="/">
       	  				 Already have an account?
        				 <br><input type="submit" value="Go Back!" class = "register right button">
     	 				</form>
					</div>

      			  <br>

              <form action = "/registerquiz" method="POST">

        <b> First, choose a username and password! </b><br>
          Username: <input type="text" formmethod="post" name="user" class ="accountField" required>
          <br><br>
          Password: <input type="password" formmethod="post" name="pw" class = "accountField" required>
          <br>

          <br>

          <input type="submit" value="Register" name="submit" class = "register right button">
	  </form>

  </div>
</div>
</div>
  </div>
  </body>
{% endblock %}
