{% extends "base.html" %}

{% block body %}
  <body style = "background-color: gainsboro">

	<script type="text/javascript">
	    function change(text)
	        {
	            var display = document.getElementById('textinfo');
	            display.innerHTML = "";
	            display.innerHTML = text;
	        }
	          function changeback(text)
	        {
	            var display = document.getElementById('textinfo');
	            display.innerHTML = "";
	            display.innerHTML = text;
	        }
	</script>


      <div class = "header3">
        <div id = "title">
		  	PROJECT NAME
        </div>
        <div id= "subtitle">
  		  	You had me at hello world...
  	  	</div>
		<ul class="nav nav-pills header2">
		  <li role="presentation" class="active"><a href="#">Home</a></li>
		  <li role="presentation"><a href="/matches">Matches</a></li>
		  <li role="presentation"><a href="/logout">Logout</a></li>
		</ul>
       </div>
	   <!--
	   <div class = "flash alert alert-info alert-dismissable" role="alert">
		   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

		   </div>
		   -->
		<div class = "flash">
    	   {% set messages = get_flashed_messages() %}
    	   {% for message in messages %}
    	   {{message}}
   		{% endfor %}
		</div>


		<div class="container">
		    <div class="row">
	        
		        <!--/span-->
	{% if match != 'none' %}
		        <div class="col-md-12">
		            <div class="jumbotron pad">
			            <div class="row placeholders">
			              <div class="col-xs-6 col-sm-3 placeholder mx-auto">
			                <img src= {{image}} width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			                <h3>{{name}}</h3>
	                    <h4>{{percent}}% similar</h4>
						  </div>
						</div>
						<div class="col-md-9 full mx-auto">
			                <span class="text-muted">{{bio}}</span>
						</div>
					
			       </div>
							<div class="row">
								<div class="col-md-2"></div>
							<div class= "col-md-4">
	           				 	<form action="/left">
									<button type="submit"><img class="small" src="/static/nolovelogo.png"></button>
	          				 	   </form>
	           			 	</div>
							<div class="col-md-4">
	             			   <form action="/right">
								   <button type="submit"><img class="small" src="/static/lovelogo.png"></button>
	         				  </form>
	            		  	</div>
							<div class="col-md-2"></div>
							</div>
						</div>
		            </div>
		        </div>
			</div>
			<br>
	{% else %}

	<h2> No suggested matches to display! Check back later. </h2>

	{% endif %}
	</body>
{% endblock %}
